<form method = "POST" action = "/login">
  <h3>Please enter your username: <input type="text" placeholder="Username Here" name="username"></h3>
  <h3>Please enter your password: <input type="password" placeholder="Password" name="password"></h3>
  <input type = "submit" value="Log in">
</form>
