<h1>Sign up!</h1>

<form action= "/signup" method = "POST">
  <h3>Please enter your email address: <input type="text" placeholder="username@email.net" name="email"></h3>
  <h3>Choose a Username: <input type= "text" placeholder="User Name" name = "username"></h3>
  <h3>Choose a Password: <input type= "password" placeholder="Password" name="password"></h3>
  <h2>Note: Please choose a secure password*</h2>
  <input type="submit" value="Create Account">
</form>
<br>
<h4>*A password must be at least 10 characters long, contain at least one uppercase letter (preferably <i>not</i> the first letter), at least one number <br> (preferably not as the first or last character), and at least one symbol. <i>Please do not use the same password you use for other sites.</i> If you do,<br> we'll totally know, and email your password to every hacker in North America.</h4>

<p>(Already a user? Click <a href="/login">here</a>)</p>
