Welcome, <%=@user.username%><br>
<br>

<a href= "/new_book">Create a new book</a> <br>
<a href= "/books/show">View all your books</a>

<br><br>
<h3> Here's one of your books! </h3>

<% unless @user.books.empty? %> <!-- this got messy pretty fast.. probably wasn't worth the time -->
  <% sample_list = [] %>
  <% sample_list << @user.books.all.sample(3) %>
  <% sample_list.uniq.each do |book| %>
    <%= book[0].title %> <br>
    <%= book[0].author %> <br>
    <% sample_list.shift %>
    <br>
  <%end%>
<%end%>
<br>

Click here to log out

<form action= "/logout" method = "POST">
<input type= "submit" value = "Log Out">
</form>
