<form method="POST" action="/books">
  <h3>Book Title: <input type= "text" name="title"></h3>
  <h3>Book's Author: <input type="text" name="author"></h3>
  <input type="submit" value="Create Book">
</form>
