<h1>Add a new character to a book</h1> <!--creates book, which is later associated by the controller -->

<form method="POST" action="/characters">
  <h3>Character's name: <input type="text" name="name"></h3>
  <br>
  <h3>Select the book this character belongs to: </h3>

  <% current_user.books.each do |book| %>
    <input type="radio" value="<%= book.id %>" name="book_id"><%= book.title%><br>
  <%end%> <br>
    <input type="submit" value="Add character">
</form>
