<% current_user.books.each do |book| %>
  <%unless book.characters.empty?%>
    <h3><%= "#{book.title}: \n "%></h3>
    <% book.characters.each do |character| %>
      <%="#{character.name}"%><br>
    <%end%>
  <%end%>
<%end%>

<br>

<h2><a href="/users/<%=current_user.slug%>">Back to your user page</a></h2>

<h2><a href= "/new_character">Add another character</a></h2>
