<% current_user.books.each do |book| %>
  <%unless book.characters.empty?%>
    <h3><%= "#{book.title}: \n "%></h3>
    <% book.characters.each do |character| %>
      <%="#{character.name}"%><br>
    <%end%>
  <%end%>
<%end%>
