<%if logged_in?%>
  Welcome, <%="#{current_user}!"%>

<%else%>

  Hello! Please sign in or create an account.

  Click here to log in

  <form action= "/login" method = "GET">
  <input type= "submit" value = "Log in">
  </form>

<%end%>
