<%if logged_in?%>
  Welcome, <%=@user.username%>

<%else%>

  Hello! Please sign in or create an account.

  Click here to log in

  <form action= "/login" method = "GET">
  <input type= "submit" value = "Log in">
  </form>

  Click here to sign up

  <form action= "/signup" method = "GET">
  <input type= "submit" value = "Sign Up">
  </form>

<%end%>
