<%if logged_in?%>
  Welcome, <%=@user.username%>

  <br>
  <p>Here's a list to get you started</p> <!--scrapes first ten books off website and lists them -->
  <%BookScraper.scrape%>
  <%BookScraper.all.shuffle.each.with_index(1) do |book,index|%> <!--add the semblance of a dynamic page-->
    <%="#{index}. #{book}" %> <br> <!--<br>, not \n-->
  <%end%>

  <br>

  <a href= "/users/<%=@user.slug%>">Your user page</a>
  <br>
  <a href= "/new_book">Book creation page</a>
  <br>
  <a href= "/books/show">List of all your books</a>

  <br>
  <br>

  Click here to log out
  <form action= "/logout" method = "POST">
  <input type= "submit" value = "Log Out">
  </form>

<%else%>

  <h2>Hello! Please sign in or create an account.</h2>

  <h3>Click here to log in</h3>

  <form action= "/login" method = "GET">
  <input type= "submit" value = "Log in">
  </form>

  <h3>Click here to sign up</h3>

  <form action= "/signup" method = "GET">
  <input type= "submit" value = "Sign Up">
  </form>

<%end%>
